.greeting {
  color: #7D4EBF;
}

.side-bar {
  align-items: flex-start;
}

@media (min-width: 992px) {
  .side-bar {
    height: 100vh;
  }
}

.search-form {
  min-width: 300px;
  max-width: 800px;
  margin: 2em;
  color: #7D4EBF;
}

.search-form > input[name="songInfo"] {
  background-color: #f0f0f0;
  border-radius: 8px;
  border: none;
  width: 100%;
}

@media (min-width: 768px) {
  .search-form > input[name="songInfo"] {
    width: 600px;
  }
}

.song-list {
  height: 0;
  margin: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.song-item {
  width: 180px;
}

.song-item img {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.song-name {
  font-size: clamp(14px, 2vw, 15px);
}

.song-artist {
  font-size: 0.7em !important;
}

.album {
  position: relative;
}

.album > i {
  opacity: 0.8;
  z-index: 3;
  display: none;
  position: absolute;
  top: 43%;
  left: 45%;
}

.album:hover > .play {
  display: block;
}

.album-top {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: rgba(191, 122, 180, 0.7);
  display: none;
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 0%;
}

.home-wraper {
  display: grid;
  justify-content: center;
  align-items: center;
}

.title {
  max-width: 500px;
  margin: 2em auto;
  text-align: center;
  color: white;
}

.form-wrap {
  width: 350px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  padding: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 13px 15px 20px rgba(0, 0, 0, 0.2);
}

.form-content {
  display: flex;
  justify-content: flex-start;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 700px;
  margin-left: 0%;
}

.form-content > form {
  width: 320px;
  padding: 30px;
}

.form-slider {
  position: relative;
  width: 320px;
  display: flex;
}

.form-slider > input[type="radio"] {
  display: none;
}

.form-slider > label {
  text-align: center;
  color: white;
  font-size: 17px;
  font-size: bold;
  width: 50%;
}

.slider {
  height: 2px;
  width: 115px;
  border-radius: 50px;
  margin-left: 25px;
  background-color: salmon;
  position: absolute;
  bottom: -10px;
  left: 0%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#login:checked ~ label.login,
#signup:checked ~ label.signup {
  color: salmon;
}

#login:checked ~ .slider {
  left: 0%;
}

#signup:checked ~ .slider {
  left: 50%;
}

.btn-secondary {
  margin: 1em auto;
  width: 100%;
  background-color: salmon;
  border: none;
}

.btn-secondary:hover {
  background-color: #BF7AB4;
}

@keyframes floating {
  0% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(5px, 30px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.float-headphone {
  width: 100%;
  max-width: 250px;
  position: absolute;
  top: 20%;
  left: 25%;
  z-index: -1;
  animation: floating infinite 15s 0.6s forwards ease;
}

@media (min-width: 992px) {
  .float-headphone {
    width: 100%;
    max-width: 250px;
    position: absolute;
    top: 5%;
    left: 65%;
    z-index: -1;
  }
}

.float-person {
  width: 100%;
  max-width: 350px;
  position: absolute;
  top: 60%;
  left: 5%;
  z-index: -1;
  animation: floating infinite 10s forwards ease;
}

@media (min-width: 992px) {
  .float-person {
    width: 100%;
    max-width: 380px;
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: -1;
  }
}

.navbar-nav {
  cursor: pointer;
}

@media (min-width: 768px) {
  .navbar-nav {
    padding-left: 1.2em;
  }
}

.navbar-nav > i {
  margin: 0.3em 0.6em;
  color: salmon;
}

#navbarExpand {
  height: 100vh;
  overflow: hidden;
  align-items: flex-start;
}

@media (min-width: 320px) and (max-width: 767px) {
  #navbarExpand > li {
    align-items: center;
    margin: 2em;
  }
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: radial-gradient(#BF7AB4, #7D4EBF);
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.bg-color {
  background: white;
}

.main-content {
  margin-top: 60px;
  align-items: center;
}

@media (min-width: 768px) {
  .main-content {
    margin-left: 150px;
  }
}

@media (min-width: 992px) {
  .main-content {
    margin-left: 200px;
  }
}

.card-style {
  border-radius: 20px;
  background-color: white;
  box-shadow: 3px 8px 16px rgba(128, 128, 128, 0.2);
  margin: 1.2em;
}

.bg-light {
  margin: 0.5em;
  background: linear-gradient(#BF7AB4, #7D4EBF) !important;
  color: white;
}
/*# sourceMappingURL=index.css.map */