@import "_variable";

*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
body{
  height: 100vh;
  background: linear-gradient(121.75deg, $secondaryLight 11.15%, $primary 112.14%);
  position: relative;
}
ul{
  padding: 0;
  margin:0;
}
li{
  list-style:none;
}
.bg-color{
  background:white;
}
.main-content{
  align-items: center;
  @include breakpoint('desktop'){
    margin-left:calc(#{$navbarWidth} + 4vw);
  }
}
.carousel-btn{
  display:none;
}
// .box-style{
//   border:$primary 1px solid;
//   margin: 1em;
// }
%centerItem{
  display: grid;
  justify-items: center;
  align-items: center;
}