@import "_variable";

*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
body{
  background: radial-gradient($primary, $darkPurple);
  // background-color: rgba($primary, 0.5);
  position: relative;
}
ul{
  padding: 0;
  margin:0;
}
li{
  list-style:none;
}
.bg-color{
  background:white;
}
.main-content{
  align-items: center;
  @include breakpoint('desktop'){
    margin-left:calc(300px + 4vw);
  }
}
.carousel-btn{
  display:none;
}

%centerItem{
  display: grid;
  justify-items: center;
  align-items: center;
}