@import "_variable";

*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
body{
  height: 100vh;
  // background-size: cover;
  position: relative;
}
ul{
  padding: 0;
  margin:0;
}
li{
  list-style:none;
}
.bg-color{
  background:white;
}
.main-content{
  align-items: center;
  &>section{
    margin-bottom:3em;
  }
  @include breakpoint('desktop'){
    margin-left:$navbarWidth;
    padding:1em 2em;
  }
}
.pink-bg{
  background: linear-gradient(to bottom right, $secondaryLight, $primary);
}
.white-bg{
  background: white;
}
%centerItem{
  display: grid;
  justify-items: center;
  align-items: center;
}
%imgBorder{
  border-top-left-radius:$coverRadius;
  border-top-right-radius:$coverRadius;
  border-bottom-right-radius: $coverRadius;
}

@mixin imgBorder($radius){
  border-top-left-radius:$radius;
  border-top-right-radius:$radius;
  border-bottom-right-radius:$radius;
}