
.hero-img{
  width: 90vw;
  max-width: 500px;
  height: auto;
  position: absolute;
  z-index: -1;
  left: 50%;
  top:200%;
  transform: translateX(-50%);
  @include breakpoint('desktop'){
    position: relative;
    top:0%;
  }
}
.logo{
  display: flex;
  align-items: center;  
  &>img{
    width: 35px;
    object-fit: contain;
    margin:0 0.5em;
  }
  p{
    margin-bottom: 0;
  }
}
