
.hero-img{
  width: 90vw;
  max-width: 500px;
  height: auto;
  position: absolute;
  z-index: -1;
  left: 50%;
  top:200%;
  transform: translateX(-50%);
  @include breakpoint('desktop'){
    position: relative;
    top:0%;
  }
}
.logo{
  display: flex;
  align-items: center;  
  &>img{
    width: 35px;
    object-fit: contain;
    margin:0 0.5em;
  }
  p{
    margin-bottom: 0;
  }
}
@keyframes expanding {
  0%{
    transform:translateX(-50%) rotate(0deg); 
  }
  100%{

    transform:translateX(-50%) rotate(360deg);
  }
}
.recomd-spinner{
  position: absolute;
  top: 0;
  left: 50%;
  padding: 1em;
  width: 370px;
  height: 370px;
  max-height: 370px;
  max-width: 370px;
  transform: translateX(-50%);
  border-radius: 500px;
  background: linear-gradient($secondary, black);
  z-index: 1;
}
.animate-cover{
  animation: expanding 4s infinite ease;
}
