
$primary:#BF7AB4;
$primaryLight:#E597A8;
$darkPurple: #7D4EBF;
$secondary:#FA8072;
$secondaryLight: #FC9A8F;
$darkBlack:#393939;
$albumShadow:3px 8px 16px rgba(gray, 0.2);
$bubbleShadow: 0 10px 160x rgba($secondaryLight, 0.3);

// $albumSize:
$albumWidthL:165px;
$albumHeightL:220px;
$albumWidthS: 260px;
$albumHeightS:145px;
$albumRadius: 15px;
$coverRadius:15px;


// songList
// $listHeight: 180px;

// nav
$navbarWidth:220px;
$navSliderWidth:200px;

