
$primary:#BF7AB4;
$darkPurple: #7D4EBF;
$secondary:salmon;

// $albumSize:
$albumWidthL:130px;
$albumHeightL:220px;
$albumWidthS: 260px;
$albumHeightS:130px;
$albumRadius: 15px;

// nav
$navbarWidth:250px;

