
$primary:#BF7AB4;
$primaryLight:#E597A8;
$darkPurple: #7D4EBF;
$secondary:#FA8072;
$secondaryLight: #FC9A8F;
$darkBlack:#393939;

// $albumSize:
$albumWidthL:145px;
$albumHeightL:220px;
$albumWidthS: 260px;
$albumHeightS:130px;
$albumRadius: 15px;
$coverRadius:10px;


// songList
// $listHeight: 180px;

// nav
$navbarWidth:250px;

