@import "_global";
@import "_search";
@import "colors";
@import "_signup.scss";
@import "_imgs";
@import "_nav.scss";

html{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
body{
  background: radial-gradient($primary, $darkPurple);
  // background-color: rgba($primary, 0.5);
  position: relative;
}
ul{
  padding: 0;
  margin:0;
}
li{
  list-style:none;
}
.bg-color{
  background:white;
}

.main-content{
  margin-top: 60px;
  align-items: center;
  @include breakpoint('tablet'){
    margin-left: 150px;
  }
  @include breakpoint('desktop'){
    margin-left: 200px;
  }
}
.card-style{
  border-radius:20px;
  background-color:white;
  box-shadow: 3px 8px 16px rgba(gray, 0.2);
  margin:1.2em;

}
.bg-light{
  margin:0.5em;
  background:linear-gradient($primary, $darkPurple)!important;
  color:white;
}
// .soild-heart{

// }
