@mixin breakpoint($screenSize) {
  @if($screenSize=="mobile"){
    @media(min-width:"320px") and (max-width:"767px"){
      @content
    }
  }
  @else if($screenSize=="tablet"){
    @media(min-width:"768px" ){
      @content
    }
  }
  @else if($screenSize=="desktop"){
    @media(min-width: "992px"){
       @content
    }
  }
}

@mixin mobileSize($screenSize){
  @if($screenSize=="xs"){
    @media(min-width:"320px") and (max-width:"576px"){
      @content
    }
}
@else if($screenSize=="sm"){
  @media(min-width:"577px"){
    @content
  }
}
}

@mixin albumSize($sizeS, $sizeL){
  @include breakpoint('mobile'){
    width:$sizeS;
    height:$sizeS;
  }
  @include breakpoint('tablet'){
    width:$sizeS;
    height:$sizeS;
  }
  @include breakpoint('desktop'){
    width:$sizeL;
    height:$sizeL;
  }
}

