@import "../1-helpers/helpers";
@import "../2-base/base";

.recomd-intro{
  position: absolute;
  bottom:2em;
  margin:0 1em;
  padding-left: 1.2em;
  width: 90%;
  color:white;
  backdrop-filter: blur(5px);
  // background:linear-gradient(to top, rgba(black, 0.6), rgba(black, 0.1));
  z-index:3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  P{
    margin-bottom: 0.7rem;
    font-weight: 600;
    font-size: clamp(13px, 2vw, 15px);
  }
}
.recomd-title{
  font-size: clamp(17px, 2vw, 23px);
}
.carousel-item{
  &>img{
    padding:1em;
    @include imgBorder(40px);
    max-height: 500px;
    object-fit: contain;
    object-position: center;
    position: relative;
    // z-index: 3;
  }

  // &::before{
  //   content: "";
  //   // border-radius: 40px;
  //   position: absolute;
  //   top:0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 1;
  //   background-color: rgba(white, 0.2);
  //   backdrop-filter: blur(10px);
  // }
}

// .carousel-control-next, .carousel-control-prev {
//   z-index:3 !important;
// }
