@import "../1-helpers/helpers";
@import "../2-base/base";


.fav-section{
  margin-top: 2em;
  border-top: 1px solid gray;
  @include breakpoint('desktop'){
    margin-left:calc(#{$navbarWidth} + 4vw);
  }
  h5{
    color: $primary;
  }
}