@import "../1-helpers/helpers";
@import "../2-base/base";

.song-list{
  height: 0;
  margin-left: 1em;
  transition: height .3s ease-out;
  scrollbar-width:none;
  @extend %flexInRow;
  justify-items: end;
  align-items: flex-start;
  li{
    margin-right: 1.5em;
  }
}
.adjust-height{
  height:$horizontalListHeight;
}
.song-wraper{
  grid-template-columns: 1fr;
  @include mobileSize('tablet'){
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint('desktop'){
    grid-template-columns: repeat(6, 1fr);
  }
}
.song-item{
  width: $albumWidthS;
  height: $albumHeightS;
  margin:0.7em;
  padding-right: 1.3em;
  transition: transform .5s ease;
  &:hover{
    transform:scale(1.12);
  }
  @include breakpoint('desktop'){
    height:$albumHeightL;
    width: $albumWidthL;
  }
  img{
    width:110px;
    height: 110px;
    object-fit: cover;
     @include imgBorder($coverRadius);
     @include breakpoint('desktop'){
     @include albumSize($albumWidthS, $albumWidthL);
      margin:0 auto;
      box-shadow: 3px 8px 16px rgba(gray, 0.35);
    }
  }
}
.box-style{
  background-color: rgba(white, 0.95);
  border-radius:13px;
  margin:0.7em 1.2em;
  overflow: hidden;
}
.card-style{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius:6px;
  padding-top:1em;
  align-items: center;
  background-color: white;
  box-shadow: $albumShadow;
 @include breakpoint("desktop"){
   box-shadow: 0 0 0 rgba(gray, 0);
   background-color: rgba(white, 0);
   grid-template-columns: 100%;
   grid-template-rows: 1fr 1fr;
 }
}
%truncate{
  text-overflow: ellipsis;
  overflow: hidden;
}
.song-intro{
  display: grid;
  grid-auto-flow: row;
  @include breakpoint('desktop'){
    display: flex;
    justify-content: space-between;
    align-items: inherit;
  }
  div{
    margin:0.2em;
  }
}
.song-name{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 120px;
  font-size: clamp(15px, 2vw, 16px);
  @extend %truncate;
  margin-block-end: 0px !important;
}
.song-artist{
  font-size:0.7em !important;
  margin:0;
  @extend %truncate;
}

.album{
  position: relative;
  &>i{
    opacity: 0.8;
    z-index:3;
    display: none;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
}
.album>.play{
  display: block;
 @extend %playBtnStyle;
}

 .fa-heart[data-fav=false]{
  color:rgba(gray, 0.7) !important;
}
.fa-heart[data-fav=true]{
  color:rgba(red, 0.7) !important;
}
.fa-2x{
   font-size: 1.5em;
}
.fa-3x{
  font-size:2.5em;
}
// ******************************************************
.control-height{
  position: relative;
  margin-top: 2em;
  max-height:calc(#{$albumHeightS} + 50px);
  @include breakpoint('desktop'){
    max-height:calc(#{$albumHeightL} + 10vh); 
  }
}
.fav-list{
  @extend %flexInRow;
  height:auto;
  transform:height 0.6s ease;
  // height: $horizontalListHeight;
  align-items: flex-start;
  li{
    margin-right: 1.5em;
  }
}
 -moz-scorllbar{
  width: 1px;
}
::-webkit-scrollbar{
  width:1px;
}
