@import "../1-helpers/helpers";
@import "../2-base/base";
.song-container{
  max-height:$listHeight;
  margin-left: 10px;
}
.song-list{
  height: 0;
  transition: height .3s ease-out;
}
.song-wraper{
  grid-template-columns: 1fr;
  @include mobileSize('tablet'){
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint('desktop'){
    grid-template-columns: repeat(6, 1fr);
  }
}
.song-item{
  width: $albumWidthS;
  height: $albumHeightS;
  margin:0.7em;
  @include breakpoint('desktop'){
    height:$albumHeightL;
    width: $albumWidthL;
  }
  img{
    width:110px;
    height: 110px;
    object-fit: cover;
    border-top-left-radius:$coverRadius;
    border-top-right-radius:$coverRadius;
    border-bottom-right-radius: $coverRadius;
    @include breakpoint('desktop'){
      @include albumSize($albumWidthS, $albumWidthL);
      margin:0 auto;
      border-top-left-radius:$albumRadius;
      border-top-right-radius:$albumRadius;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}
.box-style{
  background-color: rgba(white,0.6);
  border-radius:13px;
  margin:0.7em 1.2em;
  overflow: hidden;
}
.card-style{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius:6px;
  align-items: center;
  background-color: white;
  box-shadow: 3px 8px 16px rgba(gray, 0.2);
 @include breakpoint("desktop"){
   grid-template-columns: 100%;
   grid-template-rows: 1fr 1fr;
 }
}
%truncate{
  text-overflow: ellipsis;
  overflow: hidden;
}
.song-name{
  font-size: clamp(14px, 2vw, 15px);
  @extend %truncate;
  margin-block-end: 0px !important;
}
.song-artist{
  font-size:0.7em !important;
  margin:0;
  @extend %truncate;
}

.album{
  position: relative;
  &>i{
    opacity: 0.8;
    z-index:3;
    display: none;
    position: absolute;
    top:40%;
    left:40%;
  }
}
.album>.play{
  display: block;
  color: rgba(white, 0.9);
}

.song-artist + .fa-heart{
  color:rgba($primary, 0.7);
}
.fa-2x{
   font-size: 1.5em;
}
.fa-3x{
  font-size:2.5em;
}
// ******************************************************
.fav-section{
  margin-top: 2em;
  max-height:$listHeight;
  @include breakpoint('desktop'){
    margin-left:calc(#{$navbarWidth} + 8vw);
  }
  h5{
    color: $primary;
  }
}
.fav-list{
  padding-bottom: 60px;
  padding-top:60px;
  display: grid;
  align-content: start;
  transform: rotate(-90deg) translateY(-350px);
  width: 280px;
  height: 100vw;
  transform-origin: top right;
  overflow-y: scroll;
  overflow-x: hidden;
  li{
    transform: rotate(90deg);
    margin:4em;
    @include breakpoint('desktop'){
      margin:0;
    }
  }
}
::-webkit-scrollbar{
  width: 1px;
}