@import "../1-helpers/helpers";
@import "../2-base/base";

.song-list{
  height: 0;
  margin-left: 1em;
  transition: height .3s ease-out;
}
.song-wraper{
  grid-template-columns: 1fr;
  @include mobileSize('tablet'){
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint('desktop'){
    grid-template-columns: repeat(6, 1fr);
  }
}
.song-item{
  width: $albumWidthS;
  height: $albumHeightS;
  margin:0.7em;
  padding-right: 1em;
  transition: transform .5s ease;
  &:hover{
    transform:scale(1.12);
  }
  @include breakpoint('desktop'){
    height:$albumHeightL;
    width: $albumWidthL;
  }
  img{
    width:110px;
    height: 110px;
    object-fit: cover;
     @include imgBorder($coverRadius);
     @include breakpoint('desktop'){
     @include albumSize($albumWidthS, $albumWidthL);
      margin:0 auto;
      box-shadow: 3px 8px 16px rgba(gray, 0.35);
    }
  }
}
.box-style{
  background-color: rgba(white, 0.95);
  border-radius:13px;
  margin:0.7em 1.2em;
  overflow: hidden;
}
.card-style{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius:6px;
  padding-top:1em;
  align-items: start;
  background-color: white;
  box-shadow: 3px 8px 16px rgba(gray, 0.2);
 @include breakpoint("desktop"){
   box-shadow: 0 0 0 rgba(gray, 0);
   background-color: rgba(white, 0);
   grid-template-columns: 100%;
   grid-template-rows: 1fr 1fr;
 }
}
%truncate{
  text-overflow: ellipsis;
  overflow: hidden;
}
.song-intro{
  display: grid;
  grid-auto-flow: row;
  @include breakpoint('desktop'){
    display: flex;
    justify-content: space-between;
    align-items: inherit;
  }
  div{
    margin:0.2em;
  }
}
.song-name{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 120px;
  font-size: clamp(15px, 2vw, 16px);
  @extend %truncate;
  margin-block-end: 0px !important;
}
.song-artist{
  font-size:0.8em !important;
  margin:0;
  @extend %truncate;
}

.album{
  position: relative;
  &>i{
    opacity: 0.8;
    z-index:3;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.album>.play{
  display: block;
  color: rgba(white, 0.9);
}

 .fa-heart[data-fav=false]{
  color:rgba(gray, 0.7) !important;
}
.fa-heart[data-fav=true]{
  color:rgba(red, 0.7) !important;
}
.fa-2x{
   font-size: 1.5em;
}
.fa-3x{
  font-size:2.5em;
}
// ******************************************************
.control-height{
  margin-top: 2em;
  max-height:calc(#{$albumHeightS} + 50px);
  @include breakpoint('desktop'){
    max-height:calc(#{$albumHeightL} + 10vh); 
  }
}
.horizontal-scroll{
  @extend .fav-list;
}
.fav-section{
  transform:translateY(-70px);
}
.fav-list{
  overflow-y: scroll;
  overflow-x: hidden;
  @include breakpoint('mobile'){
    margin-left: 0.2em;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }
  @include breakpoint('tablet'){
    margin-left: 2em;
    padding-top:2em;
    transform: rotate(-90deg) translateY(-350px)translateX(0px);
    width: 280px;
    max-height: 100vw;
    height: 100vw;
    transform-origin: right top;
    -webkit-overflow-scrolling: touch;
  }
  @include breakpoint('desktop'){
    max-height: calc(100vw - #{$navbarWidth});
    transform: rotate(-90deg) translateY(-350px)translateX(30px);
    max-height: 100vw;
    height: 100vw;
  }
  li{
    @include breakpoint('mobile'){
      flex: 0 0 auto;
    }
    @include breakpoint('tablet'){
      transform: rotate(90deg);
      transform-origin: center;
      min-height:$albumWidthS;
    }
    @include breakpoint('desktop'){
      min-height:$albumWidthL;
    }
  }
}
 -moz-scorllbar{
  width: 1px;
}
::-webkit-scrollbar{
  width:1px;
}
.track-list{
  @extend .fav-list;
  // li{
  //  @include breakpoint('desktop'){
  //   transform:rotate(90deg);
  //  }
  // }
}
.album-section{
  width: 100vw;
  max-height: 230px;
  @include breakpoint('desktop'){
    max-height: 270px;
  }
}

.container-lg{
  padding-left: 0 !important;
}