@import "../1-helpers/helpers";
@import "../2-base/base";

.navbar-nav{
  cursor: pointer; 
  background-color:rgba($primary, 0.8);
  backdrop-filter: blur(5px);
  padding-top:5em;
  padding-left: 0.6em;
  position: fixed;
  top:0;
  left:-250px;
  height: 100vh;
  width:250px;
  transition:left .3s ease-in;
  li{
    color:white;  
    display: grid;
    grid-template-columns:15% auto;
    align-items: baseline;
    padding:1em;
  }
  &>i{
    display: inline;
  }
  .btn{
    color:white !important;
  }
}
.logo>img{
  width: 30px;
  margin-right: auto;
}
.expanded{
 left:0px;
 @include breakpoint('desktop'){
  top:0;
  left:0vw;
 }
}
.nav-bg{
  background-color:$primary;
  color:white;
  padding: 0.5em;
}
