@import "../1-helpers/helpers";
@import "../2-base/base";

.navbar-nav{
  cursor: pointer; 
  background-color:rgba($primary, 0.8);
  backdrop-filter: blur(5px);
  padding-top:5em;
  position: fixed;
  z-index:10;
  top:0;
  left:-250px;
  height: 100vh;
  width:250px;
  transition:left .3s ease-in;
  @include breakpoint('desktop'){
    left: 0;
  }
  label{
    color:white;  
    display: flex;
    align-items: baseline;
    padding:1.2em 1.5em;
    transition: font-weight .3 ease-out;
    &:hover{
      background-color: darken($primary,1.3);
      font-weight: 600;
    }
  }
  &>i{
    display: inline;
  }
  .btn{
    color:white !important;
  }
  input[type="radio"]{
    display: none;
  }
}
#nav-fav:checked~label,
 #nav-account:checked~label{
  background-color: darken($primary,1.3);
}
.logo>img{
  width: 30px;
  margin-right: auto;
}
.expanded{
 left:0px;
}

.nav-bg{
  background-color:$primary;
  color:white;
  padding: 0.5em;
}
