@import "../1-helpers/helpers";
@import "../2-base/base";

.top-section{
  padding-top: 1em;
  @include breakpoint('desktop'){
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
.greeting{
  h1{
    font-weight: 700;
    font-size: clamp(16px, 2vw, 18px) !important;
  }
  color:white;
  padding-right: 0.8em;
}
.search-section{
  flex:2
}
.side-bar{
  align-items: flex-start;
  @include breakpoint("desktop"){
    height:100vh;
  }
}
.search-form{
  min-width: 300px;
  max-width: 800px;
  color:$primary;
  &>input[name="songInfo"]{
    // background-color: #f0f0f0;
    border-radius: 50px;
    // border:none;
    width: 100%;
    border:1px solid $secondary; 
  }
}
.form-control:focus{
  border-color:$secondaryLight;
  box-shadow: inset 0 1px 1px rgba($secondaryLight, 0.075), 0 0 8px rgba($primary, 0.3);
}
// .carousel-control-prev, .carousel-control-next{
//   background-color: rgba(gray, 0.6);
// }
