@import "../1-helpers/helpers";
@import "../2-base/base";

.top-section{
  @include breakpoint('desktop'){
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
  }
}
.greeting{
  h1{
    font-weight: 700;
    font-size: clamp(18px, 2vw, 26px) !important;
  }
  margin-top:30px;
  color:$primary;
  padding-right: 0.8em;
}
.search-section{
  flex:2
}
.side-bar{
  align-items: flex-start;
  @include breakpoint("desktop"){
    height:100vh;
  }
}
.search-form{
  min-width: 300px;
  max-width: 800px;
  color:$primary;
  &>input[name="songInfo"]{
    background-color: #f0f0f0;
    border-radius: 8px;
    border:none;
    width: 100%;
  }
}

// .carousel-control-prev, .carousel-control-next{
//   background-color: rgba(gray, 0.6);
// }
