@import "../1-helpers/helpers";
@import "../2-base/base";


.greeting{
  margin-top:30px;
  color:$primary;
}
.side-bar{
  align-items: flex-start;
  @include breakpoint("desktop"){
    height:100vh;
  }
}
.search-form{
  min-width: 300px;
  max-width: 800px;
  color:$primary;
  &>input[name="songInfo"]{
    background-color: #f0f0f0;
    border-radius: 8px;
    border:none;
    width: 100%;
    @include breakpoint('tablet'){
      width: 600px;
    }
  }
}
.song-list{
  .carousel-item{
    margin-left:calc((100% - #{$navbarWidth})/2);
    @include breakpoint('tablet'){
      margin-left:calc((40% - #{$navbarWidth})/2)
    }
    @include breakpoint('desktop'){
      margin-left:0;
    }
  } 
}
.song-wraper{
  // max-width: 100v;
  grid-template-columns: 1fr;
  @include mobileSize('tablet'){
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint('desktop'){
    grid-template-columns: repeat(6, 1fr);
  }
}
.song-item{
  width: $albumWidthS;
  height: $albumHeightS;
  margin:0.7em;
  @include breakpoint('desktop'){
    height:$albumHeightL;
    width: $albumWidthL;
  }
  img{
    width:110px;
    height: 110px;
    object-fit: cover;
    @include breakpoint('desktop'){
      @include albumSize($albumWidthS, $albumWidthL);
      margin:0 auto;
      border-top-left-radius:$albumRadius;
      border-top-right-radius:$albumRadius;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}

.card-style{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius:20px;
  // justify-items: center;
  align-items: center;
  background-color: white;
  box-shadow: 3px 8px 16px rgba(gray, 0.2);
 @include breakpoint("desktop"){
  //  margin:15px;
   grid-template-columns: 100%;
   grid-template-rows: 1fr 1fr;
 }
}
%truncate{
  text-overflow: ellipsis;
  // white-space: nowrap;
  overflow: hidden;
}
.song-name{
  font-size: clamp(14px, 2vw, 15px);
  @extend %truncate;
  margin-block-end: 0px !important;
}
.song-artist{
  font-size:0.7em !important;
  margin:0;
  @extend %truncate;
}
.row>*{
  padding-left:0 !important;
}
.album{
  position: relative;
  &>i{
    opacity: 0.8;
    z-index:3;
    display: none;
    position: absolute;
    top:40%;
    left:40%;
  }
}
.album>.play{
  display: block;
  color: rgba(white, 0.9);
}

.song-artist + .fa-heart{
  color:rgba($primary, 0.7);
}
.carousel-control-prev{
 @include breakpoint('tablet'){
  left:-80px !important;
 }
}
.fa-2x{
   font-size: 1.5em;
}
.fa-3x{
  font-size:2.3em;
}
// .carousel-control-prev, .carousel-control-next{
//   background-color: rgba(gray, 0.6);
// }
