@import "../1-helpers/helpers";
@import "../2-base/base";

.album-wrapper{
  background-color:#f2f2f2;
  box-shadow: 10px 5px 20px rgba(gray, 0.35);
  padding: 1em;
  border-radius: 15px;
}
.track-container{
  background-color:rgba(white, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  &>p{
    // background: linear-gradient(186.72deg, rgba(252, 154, 143, 0.8) 3.11%, rgba(191, 122, 180, 0.8) 106.43%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:gray;
    display: block;
    padding:1em 2em 1em 1em;
    margin-bottom: 0 !important;
    font-size: 16px;
    font-weight: 600;
  }
   ul{
    display: none;
    flex-flow: column nowrap;
    align-items: flex-start;
   }
  li{
    // background-color:#f8f9fa;
    padding:1em;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
    width:100%;
    // border-bottom: 0.6px solid rgb(185, 185, 185);
  }
  i{
    color:$secondary;
    font-size: 2em;
  }
}
.track-list{
 @extend %flexInRow;
 height: 280px;
 align-items: center;
 scrollbar-width: none;
 li{
  margin-right: 2em;
}
}
.track-cover{
  position: relative;
  div{
    font-size:16px;
    z-index: 5;
    padding: 0.6em;
    @extend %centerItem;
    grid-auto-rows: min-content;
    box-shadow: $bubbleShadow;
  }
}
.track-img{
  width: $recomdCoverSize;
  height: $recomdCoverSize;
  @include imgBorder(10px);
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: $albumShadow;
}
.track-active{
  transform:scale(1.2);
  margin: 1em;
}
.list-active{
  display: flex !important;
}